<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Você perdeu sua senha: </h1>

    <p>Você solicitou a recuperação da sua senha? Caso tenha solicitado a recuperação de senha <a href="{{ linkToEmail }}">clique aqui</a>. Caso não tenha solicitado a recuperação da sua senha por favor desconsidere esse email.</p>
</body>
</html>